body {
  background: black;
  font-family: verdana;
}
.disclaim {
  width: 50%;
  background: #222;
  display: block;
  color: white;
  align-items: center;
  text-align: center;
  margin: 15% 25%;
}
.note {
  font-size: 30px;
}
header {
  color: white;
}
.green {
  width: 20%;
  background-color: green;
  color: white;
  padding: 10px;
  margin-left: 15px;
}
.Red {
  width: 20%;
  background-color: red;
  color: white;
  padding: 10px;
  margin-left: 15px;
}
.blue {
  width: 20%;
  background-color: blue;
  color: white;
  padding: 10px;
  margin-left: 15px;
}
.Reset {
  width: 20%;
  background-color: White;
  color: black;
  padding: 10px;
  margin-left: 15px;
}
.container {
  width: 50%;
  background: #222;
  display: block;
  color: white;
  align-items: center;
  text-align: center;
  margin: 15% 25%;
}
.input {
  margin: 10px;
  width: 35%;
  outline: none;
  border-color: blue;
}
.btn {
  width: 20%;
  border-color: blue;
}
.output li {
  list-style-type: decimal;
}
.container2 {
  color: white;
  text-align: center;
}
ul {
  width: 50%;
  background: #222;
  display: block;
  color: white;
  align-items: center;
  text-align: center;
  margin: 15% 25%;
}
.btn1 {
  width: 25%;
  text-align: center;
}
.btn1:hover {
  background-color: aqua;
}
.nameBTN {
  outline: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nameBTN:focus {
  border-color: #256;
  background-color: aqua;
}
